<footer>
  <div class="footer-content">
    <div class="footer-left">
      <div class="social-links">
        <a href="https://hackaday.io/projects/hacker/1837318" target="_blank">Hackaday</a>
      </div>
      <p>&copy; 2026 Andrew Donnelly</p>
    </div>

    <div class="footer-center">
      <img src="{{PATH_PREFIX}}images/black_mage.png" alt="Black-Mage" id="black-mage" class="footer-photo">
    </div>

    <div class="footer-right">
      <span id="footer-quote"></span>
    </div>
  </div>
</footer>
