<header>
  <nav>
    <ul class="nav-links">
      <li><a href="{{PATH_PREFIX}}index.html#home" class="nav-home">Home</a></li>
      <li><a href="{{PATH_PREFIX}}projects.html" class="nav-projects">Projects</a></li>
      <li><a href="{{PATH_PREFIX}}translations.html" class="nav-translations">Translations</a></li>
      <li><a href="{{PATH_PREFIX}}blog.html" class="nav-blog">Blog</a></li>
      <li><a href="{{PATH_PREFIX}}repairs.html" class="nav-repairs">Tech Repairs</a></li>
    </ul>
  </nav>
</header>
